
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'SF Pro Display', sans-serif;
  width: 100%;
  min-height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.05);
  overflow: hidden scroll;
  background: linear-gradient(180deg, #3D627A -70.2%, #1E2C35 100%);
}

h1 {

}
h2 {
  color: var(--Light, #CEE1E7);
  font-family: "SF Pro Display";
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  &.green {
    color: #34DA8C;
  }
}

p {
  color: var(--Light, #CEE1E7);
  font-family: "SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */

  &.small {
    color: var(--Light, #CEE1E7);
    font-family: "SF Pro Display";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    letter-spacing: 0.15px;
  }
}

.row {
  display: flex;
  max-width: 1240px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin: 0 auto;
  box-sizing: border-box;
  opacity: 0;
}


.animate {
  animation: slideIn .3s linear;
}

.fadeInSlide {
  animation: fadeInSlide 1.5s ease forwards 0.5s;
}
@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translate3d(0%, 30%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fade {
  animation: fade 1s ease forwards;
}

@keyframes fade {
  to {
    opacity: 0.25;
  }
}


@keyframes slideIn {
  0% {transform: translateY(150px); opacity: 0}
  100% {transform: translateY(0); opacity: 1}
}

@media screen and (max-width: 1200px) {
  .row {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media screen and (max-width: 992px) {

  h2 { font-size: 18px }
  p { font-size: 16px }
}

@media screen and (max-width: 768px) {

}
